<h1>Pedidos</h1>

<% if flash[:aviso] %>
<div style="border: 1px gray solid; background-color: #FF9696; border-radius: 10px;">
  <%= flash[:aviso] %>
</div>
<% end %>

<table>
  <thead>
    <tr>
      <th>Data/Hora</th>
      <th>Descricao</th>
      <th>Prioridade</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @pedidos.each do |pedido| %>
      <tr class="<%= 'cancelado' if pedido.status == 4 %>">
        <td><%= data_hora(pedido.created_at) %></td>
        <td><%= pedido.descricao %></td>
        <td><%= pedido.prioridade_texto %></td>
        <td><%= pedido.status %></td>
        <td><%= link_to 'Ver', pedido %></td>
        <td><% link_to 'Edit', edit_pedido_path(pedido) %></td>
        <td>

            <%= link_to 'Cancelar', cancela_pedido_path(pedido), method: :put,
                data: { confirm: 'Deseja realmente cancelar seu pedido?' } unless pedido.cancelado? %>

        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pedido', new_pedido_path %>

