<h1>Chamados cadastrados</h1>

<table>
  <thead>
    <tr>
      <th>Descrição</th>
      <th>Prioridade</th>
      <th>Data/Hora</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @chamados.each do |chamado| %>
      <tr>
        <td>
          <%= chamado.descricao %>
        </td>
        <td>
          <%= prioridade_text chamado.prioridade %>
        </td>
        <td>
          <%= chamado.data_hora %>
        </td>
        <td><%= link_to 'Abrir', chamado %></td>
        <td><%= link_to 'Editar', edit_chamado_path(chamado) %></td>
        <td><%= link_to 'Excluir', chamado, method: :delete, data: { confirm: 'Deseja realmente excluir?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Cadastrar novo chamado', new_chamado_path %>
