<p id="notice"><%= notice %></p>

<p>
  <strong>Descricao:</strong>
  <%= @compromisso.descricao %>
</p>

<p>
  <strong>Quando:</strong>
  <%= @compromisso.quando %>
</p>

<%= link_to 'Edit', edit_compromisso_path(@compromisso) %> |
<%= link_to 'Back', compromissos_path %>
